<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nodemail</title>
</head>
<body>
<form action="/admin" method="GET">
    <button type="submit">ADMIN</button>
</form>
<table>
    <thead>
        <tr>
            <td>Nom d'utilisateur</td>
            <td>Adresse e-mail</td>
        </tr>
    </thead>
    <tbody>
        
        <% for(var i = 0; i < annuaire.length; i++) { %>
        <% if (annuaire[i].statut == true) { %>
        <tr>
            <td><%= annuaire[i].username %></td>
            <td><%= annuaire[i].usermail %></td>
        </tr>
            <% } else { %> <% } %>
        <% } %>
    </tbody>
</table>

    <form name="login" action="/ajout" onsubmit="return validation()" method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur">
        <input type="email" name="usermail" placeholder="Adresse e-mail">
        <input type="submit" value="Envoyer">
    </form>

    <script>
        
    function validation() {
        let formValueNom = document.forms["login"]["username"].value;
        let formValueMail = document.forms["login"]["usermail"].value;
        let mailValidation = /\S+@\S+/;
        if (formValueNom.length < 3) {
            alert("Vous devez avoir au moins 3 caractères pour votre nom d'utilisateur");
            return false;
        }
        if (mailValidation.test(String(formValueMail).toLowerCase()) == false) {
            alert("L'adresse mail entré n'est pas valide");
            return false;
        }
    };

    </script>
</body>
</html>